<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-end">
      <a href="/"><button type="button" class="btn btn-outline-dark m-2">Inicio</button></a>
      <a href="/api/productos-test"><button type="button" class="btn btn-outline-dark m-2">Productos</button></a>
    </div>
  </nav>